.main-section{
   width: 100%;
   min-height: min(400px, 60vh);
   margin-top: 75px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 20px;
}

.main-section .heading{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: url(../pictures/B.jfif) black;
   padding-block: 30px;
}

.main-section .heading>h1{
   width: min(800px, 95%);
   height: auto;
   font-size: var(--post-heading);
   color: var(--main-grey);
   font-weight: lighter;
   text-align: center;
   margin-block: 20px;
}

.main-section .heading>h1>span{
   color: var(--main-grey3);
   font-size: var(--post-heading);
}

.main-section .search-number{
   width: min(800px, 95%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.main-section .search-number>span{
   color: var(--main-blue);
}

.main-section .search-results{
   width: min(1000px, 95%);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 20px;
}

.main-section .search-results .nothing-section{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 40px;
}

.main-section .search-results .nothing-section .image-section{
   width: min(500px, 80%);
   height: auto;
   overflow: hidden;
   border-radius: 5px;
   aspect-ratio: 1 / 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-section .search-results .nothing-section .image-section>img{
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;
}

.main-section .search-results .nothing-section>h2{
   font-size: var(--heading-mid);
   color: var(--main-grey);
}

.main-section .search-results .post-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-decoration: none;
   padding-block: 20px;
   border-bottom: 1px solid var(--main-grey2);
}

.main-section .search-results .post-section:last-child{
   border-bottom: none;
}

.main-section .search-results .post-section:hover .content-section>h2{
   text-decoration: underline;
}

.main-section .search-results .post-section .image-section{
   width:30%;
   height: auto;
   overflow: hidden;
   border-radius: 5px;
   aspect-ratio: 1 / 0.7;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-section .search-results .post-section .image-section>img{
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;
}

.main-section .search-results .post-section .content-section{
   width: 68%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.main-section .search-results .post-section .content-section .date-section{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.main-section .search-results .post-section .content-section .date-section>span{
   padding-inline: 10px;
   padding-block: 5px;
   background-color: var(--main-grey3);
   font-size: var(--small-text);
   border-radius: 100vmax;
   color: var(--main-grey);
}

.main-section .search-results .post-section .content-section>h2{
   width: 100%;
   font-size: var(--heading-mid);
   text-wrap: wrap;
   margin-bottom: 5px;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.main-section .search-results .post-section .content-section>p{
   width: 100%;
   text-wrap: wrap;

   display: -webkit-box;
   line-clamp: 3;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.main-section .search-results .post-section .content-section .tag-section{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   margin-top: 10px;
}

.main-section .search-results .post-section .content-section .tag-section>span{
   padding-inline: 10px;
   padding-block: 5px;
   background-color: var(--main-grey3);
   font-size: var(--small-text);
   border-radius: 100vmax;
   margin-right: 5px;
   color: var(--main-grey);
   font-weight: bold;
}   

